In [1]:
# import needed packages
import pandas as pd

In [2]:
# import dataset
energy = pd.read_excel(r'data/energy.xlsx')

In [15]:
# view first rows of dataframe
energy.head(10)

,Year,ResidentPopulation,GDP,HouseholdSize,MedianIncome,CostResidentialElectric,CostResidentialGas,CostResidentialOil,ResidentialEnergyConsumption
0,1984,235.83,3.93,2.69,44.80,20.17,5.72,7.57,15.96
1,1985,237.92,4.22,2.67,45.64,20.13,5.52,7.06,16.04
2,1986,240.13,4.46,2.66,47.26,19.84,5.17,5.50,15.98
3,1987,242.29,4.74,2.64,47.85,19.22,4.73,5.10,16.26
4,1988,244.50,5.10,2.62,48.22,18.53,4.49,4.96,17.13
5,1989,246.82,5.48,2.63,49.08,18.08,4.41,5.23,17.79
6,1990,249.62,5.80,2.63,48.42,17.56,4.31,5.86,16.95
7,1991,252.98,5.99,2.62,47.03,17.30,4.15,5.39,17.42
8,1992,256.51,6.34,2.66,46.65,17.15,4.07,4.80,17.36
9,1993,259.92,6.67,2.67,46.42,16.88,4.15,4.55,18.22

In [9]:
# transpose while renaming the columns with `set_index()`
energy2 = energy.set_index('Year').T

In [10]:
# view result
energy2

Year,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
ResidentPopulation,235.83,237.92,240.13,242.29,244.50,246.82,249.62,252.98,256.51,259.92,...,285.08,287.80,290.33,293.05,295.75,298.59,301.58,304.38,307.01,309.35
GDP,3.93,4.22,4.46,4.74,5.10,5.48,5.80,5.99,6.34,6.67,...,10.29,10.64,11.14,11.87,12.64,13.40,14.06,14.37,14.12,14.66
HouseholdSize,2.69,2.67,2.66,2.64,2.62,2.63,2.63,2.62,2.66,2.67,...,2.58,2.57,2.57,2.57,2.57,2.56,2.56,2.57,2.59,2.58
MedianIncome,44.80,45.64,47.26,47.85,48.22,49.08,48.42,47.03,46.65,46.42,...,52.01,51.40,51.35,51.17,51.74,52.12,52.82,50.94,50.60,49.45
CostResidentialElectric,20.17,20.13,19.84,19.22,18.53,18.08,17.56,17.30,17.15,16.88,...,14.20,13.75,13.89,13.89,14.18,15.12,15.05,15.33,15.72,15.51
CostResidentialGas,5.72,5.52,5.17,4.73,4.49,4.41,4.31,4.15,4.07,4.15,...,5.28,4.28,5.09,5.55,6.33,6.63,6.14,6.28,5.52,5.11
CostResidentialOil,7.57,7.06,5.50,5.10,4.96,5.23,5.86,5.39,4.80,4.55,...,5.09,4.53,5.31,5.91,7.58,8.46,9.01,10.78,8.02,9.25
ResidentialEnergyConsumption,15.96,16.04,15.98,16.26,17.13,17.79,16.95,17.42,17.36,18.22,...,20.04,20.81,21.11,21.09,21.63,20.70,21.57,21.60,21.06,22.15

In [11]:
# transpose back to original form
energy3 = energy2.T

In [14]:
energy3.head(10)

,ResidentPopulation,GDP,HouseholdSize,MedianIncome,CostResidentialElectric,CostResidentialGas,CostResidentialOil,ResidentialEnergyConsumption
Year,,,,,,,,
1984,235.83,3.93,2.69,44.80,20.17,5.72,7.57,15.96
1985,237.92,4.22,2.67,45.64,20.13,5.52,7.06,16.04
1986,240.13,4.46,2.66,47.26,19.84,5.17,5.50,15.98
1987,242.29,4.74,2.64,47.85,19.22,4.73,5.10,16.26
1988,244.50,5.10,2.62,48.22,18.53,4.49,4.96,17.13
1989,246.82,5.48,2.63,49.08,18.08,4.41,5.23,17.79
1990,249.62,5.80,2.63,48.42,17.56,4.31,5.86,16.95
1991,252.98,5.99,2.62,47.03,17.30,4.15,5.39,17.42
1992,256.51,6.34,2.66,46.65,17.15,4.07,4.80,17.36
1993,259.92,6.67,2.67,46.42,16.88,4.15,4.55,18.22